<div class="game-container">
  <header class="game-header">
    <h1>{{ title }}</h1>
  </header>

  <!-- Game Setup Component -->
  <app-game-setup *ngIf="!gameInProgress && !gameEnded" [players]="players" [gameInProgress]="gameInProgress"
    (addPlayerEvent)="addPlayer($event)" (removePlayerEvent)="removePlayer($event)"
    (clearAllPlayersEvent)="clearAllPlayers()" (startGameEvent)="startGame()">
  </app-game-setup>

  <!-- Game Progress Component -->
  <app-game-progress *ngIf="gameInProgress" [players]="players" [currentRound]="currentRound"
    [roundScores]="roundScores" [editingRound]="editingRound" (submitRoundEvent)="submitRound()"
    (saveRoundEditEvent)="saveRoundEdit()" (cancelRoundEditEvent)="cancelRoundEdit()">
  </app-game-progress>

  <!-- Game End Component -->
  <app-game-end *ngIf="gameEnded" [players]="players" [winner]="winner" (resetGameEvent)="resetGame()"
    (clearAllPlayersEvent)="clearAllPlayers()">
  </app-game-end>

  <!-- Game History Component -->
  <app-game-history [rounds]="rounds" [gameEnded]="gameEnded" [editingRound]="editingRound" [players]="players"
    (editRoundEvent)="editRound($event)">
  </app-game-history>
</div>